<!DOCTYPE html>
<html>
  <head>
    <title>Submit Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item">
              <span class="nav-link">Hello, <%= current_user['name'] %>!</span>
            </li>
            <li class="nav-item">
              <span class="nav-link">
                <%= button_to logout_path, :method => :delete,  class: 'btn btn-primary-outline btn-sm' do %>
                  <%= icon('sign-out', 'Logout', id: 'logout-icon') %>
                <% end %>
              </span>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Submit Portal</h3>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
